body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/cas.jpg");
    width: auto;
    background-size:contain;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-weight: bold;
    color:white;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
button{
    color:#016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
}
conatiner button{
    color:#016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
   
    flex-direction: column;
    justify-content: center;

}
h1{
    color:goldenrod;
}
message-el{
    font-style: italic;
}